<main class="main">
  <%= image_tag("haikei3.jpg") %>
    <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
      <div class="greeting">
        <% if user_signed_in? %>
          <%= current_user.name%>
        <%end %>
      </div>
      <div class="card__wrapper">

        <%= render partial: 'article', collection: @article %>
      </div>
  </div>
</main>