<main class="main">
  <%= image_tag("haikei3.jpg") %>
    <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <%#div class="contents row">
      <%= article_lists(@articles) %>
    <%#/div>
    <%# ログインしているときは以下を表示する %>
      <div class="greeting">
        <%# if user_signed_in? %>
          <%#= link_to "こんにちは#{current_user.name}さん", user_path(current_user.id), class: :greeting__link%>
        <%#end %>
      </div>
    <%# // ログインしているときは上記を表示する %>
      <div class="card__wrapper">
      <%#= image_tag article.image, class: 'article-image' if article.image.attached? %>
        <%= render partial: 'article', collection: @article %>
      </div>
  </div>
</main>