<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mjl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <h1><a href="/">MJL</a></h1>
          </div>
            <div class="nav__right">
              <span><%#="こんにちは#{current_user.name}さん" %>
              <%= link_to "Sign_up", new_user_registration_path, class: :nav__btn %>
            </div>
            <div class="nav__right">
              <%= link_to "Log_in", new_user_session_path, class: :nav__btn %>
            </div>
            <div class="nav__right">
              <%= link_to "New post", new_article_path, class: :nav__btn %>
            </div>
            <div class="nav__right">
              <%= link_to "Sign_out", destroy_user_session_path, method: :delete, class: :nav__btn %>
            </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">オリジナルアプリ mjl</p>
    </footer>
  </body>
</html>
